/* Foundation v2.2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

.row {padding:15px 0px;}
h1 {vertical-align:middle;}
h1 img {vertical-align:middle;}
#featuresTab ul {list-style:disc;margin-left:20px;}
#featuresTab ul  li{padding:0;}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


